*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


/************************************************ General Styles ****************************************/

li{
    list-style: none;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

button{
    /* background-color: white; */
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
}

/************************************************ General Styles ****************************************/

header{
    width: 100%;
    height: 100%;
}

.zone-1{
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 0 20px 0;
}

.social{
    width: 8%;
}

.social ul{
    display: flex;
    justify-content: space-around;
}

.logo{
    height: 50px;
    margin-bottom: 25px;    
}

.logo img{
    width: 100%;
    height: 180%;  
}

.button-style{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-night, .button-day{
    letter-spacing: 0.5px;
    font-weight: bold;
    width: 100px;
}

.search-icon{
    margin-left: 10px;
}

.icons{
    cursor: pointer;
}

.menu{
    width: 70%;
    margin:0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a{
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    /* color: black; */
    font-weight: 400;
    letter-spacing: 1px;
}

/******************************************** Slider */

 .slick-slide {
    height: 380px !important;
} 

.slider img{
    width: 100%;
    height: 135%;
}


/* .slick-next::before, .slick-prev::before {
    color: #ccc !important;
} */

/******************************************** Posts */
.content-post{
   
    display: grid;
    grid-template-rows: 300px 100px 1fr;
    grid-template-columns: 50% 20% auto;
    grid-gap:20px;
    margin-top: 10px;
}

.post{
    width: 100%;
    height: 100%;
    /* background-color: white;
    border-top: 8px solid black;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.741); */
}

.info{
    padding: 30px;
}

.info h3{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.info span{
    font-size: 12px;
    color: #ccc;
}

.info p{
    font-weight: 12px;
    text-align: justify;
    margin-top: 10px;
}

.button-read{
    background-color: black;
    height: 35px;
    width: 90px;
    margin-top: 20px;
    /* border: 1px solid black; */
    transition: background-color 0.5s;
}

/* .button-read:hover{
    background-color: rgb(54, 53, 53);
} */

.button-read a{
    /* color: white; */
    text-decoration: none;
    font-weight: bold;
}

.grid-item1{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

.grid-item2{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 4;
    
}

.grid-item3{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 4;
}

.grid-item4{
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

.grid-item5{
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4;
}

.post2{
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255);
    border-top: 8px solid rgb(225, 198, 44);
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.741); */
}

/********************************** formulario */

#login h4{
    text-align: center;
    text-transform: uppercase;
    margin: 26px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #ccc; */
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    margin-bottom: 16px;
    margin-top:7px;
    padding:5px;
    /* border:1px solid #ccc; */
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]:focus{
    outline: none;
}

/* form input:hover{
    border: 1px solid rgba(225, 198, 44, 0.686);
    box-shadow: 0 0 1px inset #ccc;

} */

form label{
    width: 100%;
    font-size: 13px;
    text-align: center;
    display: inline-block;
}

.button-submit{
    width: 130px;
    height: 40px;
    /* background-color:black; */
    border-radius: 30px;
    /* color: white; */
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
}

.grid-item5 img{
    width: 100%;
    height: 100%;
}

/************************************** footer */

.container2{
    margin-top: 20px;
    width: 100%;
    height:100%;
    /* background-color: black; */
}

.footer-content{
    width: 100%;
    text-align: center;
    /* color:white; */
    font-size: 12px;
    padding: 10px;
    /* border-bottom: 4px solid  rgba(225, 198, 44, 0.686); */
}